@font-face {
  font-family: "Bw Modelica Med";
  src: url("./fonts/BwModelica-Medium.woff2") format("woff2"),
    url("./fonts/BwModelica-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bw Modelica Reg";
  src: url("./fonts/BwModelica-Regular.woff2") format("woff2"),
    url("./fonts/BwModelica-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bw Modelica Bold";
  src: url("./fonts/BwModelica-Bold.woff2") format("woff2"),
    url("./fonts/BwModelica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
